:root {
    --backG-color: #1F2833;
    --ordinary-text: #C5C6C7;
    --bgight-text: #66FCF1;
    --additiondl: #45A29E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    *:before {
        box-sizing: border-box;
    }

    *:after {
        box-sizing: border-box;
    }

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    font-family: Roboto;
    min-width: 1100px;
    height: auto;
    background-color: var(--backG-color);
    color: var(--ordinary-text);
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

button {
    outline: none !important;
    font-family: inherit;
    font-size: inherit;
}

input {
    font-size: inherit;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
}

a, a:hover {
    color: #ffff;
    text-decoration: none;
}

.container {
    /* base */
    max-width: 1170px;
    padding: 70px 15px;
    margin: 0 auto;
    /* custom */
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-gap: 30px;
}

.section {
    position: relative;
    padding: 30px 0 40px 0;
}

    .section:first-child {
        padding-top: 10px;
    }

.title {
    margin-bottom: 20px;
    font-size: 32px;
    font-variant: 800;
    line-height: 47px;
}

:root {
    --backG-color: #1F2833;
    --ordinary-text: #C5C6C7;
    --bgight-text: #66FCF1;
    --additiondl: #45A29E;
}

.navbar {
    display: flex;
    flex-flow: column nowrap;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--backG-color);
    border: 1px solid var(--additiondl);
    position: sticky;
    top: 30px;
}

.navbar__link {
    color: var(--ordinary-text);
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 200ms ease-in-out;
    line-height: 27px;
}

    .navbar__link:last-child {
        margin-bottom: 0;
    }

    .navbar__link:hover {
        color: var(--bgight-text);
    }

.btn {
    display: inline-block;
    font-weight: 700;
    padding: 7px 34px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    line-height: 27px;
    cursor: pointer;
    transition: background 200ms ease-in-out, box-shadow 100ms ease-in-out;
    border: 0;
    user-select: none;
    text-align: center;
}

    .btn:hover {
        background-color: blue;
    }

    .btn:active {
        transform: scale(.95);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    }

.btn--rounded {
    border-radius: 50px;
}

.checkbox {
    display: inline-block;
    margin-bottom: 20px;
}

    .checkbox input {
        display: none;
    }

.checkbox__label::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: blue;
    border-radius: 7px;
    background-image: url('../../img/checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0%;
    transition: 150ms ease-in-out;
}

.checkbox__label {
    position: relative;
    cursor: pointer;
    padding-left: 45px;
    user-select: none;
}

.checkbox input:checked ~ .checkbox__label::before {
    background-size: 100%;
}

.switch {
    display: inline-block;
    margin-bottom: 30px;
}

    .switch input {
        display: none;
    }

.switch__label {
    position: relative;
    padding-left: 80px;
    cursor: pointer;
    user-select: none;
    transition: all 150ms ease-in-out;
}

    .switch__label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 60px;
        height: 35px;
        background-color: white;
        border-radius: 200px;
        transition: inherit;
    }

    .switch__label::after {
        content: "";
        position: absolute;
        left: 3px;
        top: -4px;
        width: 29px;
        height: 29px;
        background-color: blue;
        border-radius: 200px;
        transition: inherit;
    }

.switch input:checked ~ .switch__label::before {
    background-color: black;
}

.switch input:checked ~ .switch__label::after {
    left: 28px;
}

.switch input:active ~ .switch__label::after {
    width: 40px;
}

.switch input:checked:active ~ .switch__label::after {
    left: 17px;
}

.switch input:checked:disabled ~ .switch__label {
    pointer-events: none;
}

    .switch input:checked:disabled ~ .switch__label::after {
        opacity: 50%;
    }

    .switch input:checked:disabled ~ .switch__label::before {
        opacity: 50%;
    }

.link {
    line-height: 27px;
    font-weight: 700;
    color: azure;
    text-decoration: underline;
    transition: color 150ms ease-in-out;
    cursor: default;
}

    .link:hover {
        color: cyan;
        text-decoration: none;
    }

.dropdown {
    position: relative;
}

.dropdown__drop {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 0;
    top: 100%;
    position: absolute;
    width: 210px;
    background-color: rgb(65, 63, 160);
    border-radius: 10px;
    transition: all 150ms ease-in-out;
    /* hide menu */
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}

.dropdown__drop--active {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    top: calc(100% + 7px);
}

.dropdown__drop:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 17px;
    width: 10px;
    height: 10px;
    background-color: rgb(65, 63, 160);
    transform: rotate(45deg);
}

.dropdown__drop-item {
    padding: 7px 20px;
    font-size: 14px;
    line-height: 17px;
    color: aliceblue;
    text-decoration: none;
    transition: 150ms ease-in-out;
}

    .dropdown__drop-item:hover {
        background-color: crimson;
        color: rgba(42, 114, 177, 0.58);
    }

.card {
    width: 300px;
    background-color: rgb(14, 20, 42);
    border-radius: 10px;
}

.card__image {
    border-radius: 10px 10px 0 0;
}

.card__body {
    padding: 30px 30px 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.card__title {
    font-size: 18px;
    line-height: 122%;
    font-weight: 700;
    margin-bottom: 5px;
}

.card__param {
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}

    .card__param li {
        font-size: 12px;
        color: rgb(92, 116, 201);
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }

        .card__param li .iconify {
            margin-top: -4px;
        }

.card__text {
    font-size: 14px;
    color: rgb(92, 116, 201);
    margin-bottom: 15px;
}

.field {
    position: relative;
    margin-bottom: 20px;
}

.field__control {
    font-weight: 700;
    line-height: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgb(18, 18, 104);
    border: 1px solid rgb(66, 66, 200);
    color: aliceblue;
    outline: none;
    transition: all 150ms ease-in-out;
}

    .field__control::placeholder {
        color: rgb(155, 162, 166);
    }

    .field__control:focus {
        border-color: rgb(205, 205, 212);
        background-color: rgb(53, 53, 123);
        box-shadow: 0px 0px 13px rgba(0, 26, 255, 0.25);
    }

.field__icon {
    position: absolute;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(32, 120, 244);
}

    .field__icon ~ .field__control {
        padding-right: 54px;
    }

[data-tooltip] {
    position: relative;
}

    [data-tooltip]:before {
        content: attr(data-tooltip);
        position: absolute;
        left: calc(100% + 12px);
        top: 50%;
        transform: translateY(-50%);
        background-color: rgb(51, 58, 62);
        color: cornsilk;
        border-radius: 10px;
        padding: 10px 20px;
        min-width: 200px;
        max-width: 250px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all 100ms ease-in-out;
    }

    [data-tooltip]:hover:before {
        z-index: 100;
        opacity: 1;
        visibility: visible;
        left: calc(100% + 17px);
    }
.menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 65px;
    background-color: beige;
    border-radius: 10px;
    margin-bottom: 20px;
}

.menubar__brand {
    font-size: 21px;
    font-weight: 800;
    line-height: 31px;
    text-decoration: none;
    color: blue;
}

.menubar__nav li {
    display: inline-block;
    margin-right: 15px;
}

    .menubar__nav li:last-child {
        margin-right: 0px;
    }

.menubar__nav-link {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: darkblue;
    transition: color 150ms ease-out;
}

    .menubar__nav-link:hover {
        color: rgb(243, 59, 172);
    }
.model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-out;
}

.model--active {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}

.model__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0,0,0, .5);
    backdrop-filter: blur(5px);
    transition: inherit;
}

.model__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgb(53, 58, 66);
    border: 1px solid white;
    border-radius: 20px;
    width: 500px;
    padding: 20px 30px 30px 30px;
    text-align: center;
}

.model__window-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    padding: 0;
    line-height: 100%;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 150ms ease-out;
}

    .model__window-close:hover {
        color: aqua;
    }

.model__window-title {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
}

.model__body {
    border: 2px dashed aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
}

.model__body-label {
    color: blue;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}